a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.dp-btn {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dp-btn a {
  color: #fff;
}

.dp-btn:hover,
.dp-btn:focus-within {
  background: red;
  cursor: pointer;
}

.dp-btn:focus-within a {
  outline: none;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.Container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.Container h1 {
  font-family: "Roboto", sans-serif;
  color: crimson;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.container-col {
  flex-basis: 31%;
  background: #ffc5c5;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.picture {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.picture h1 {
  color: chartreuse;
  font-family: "Roboto", sans-serif;
}
.pic_row {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.pic_row img {
  width: 100%;
  display: block;
}
